// $colors-list: $blue $green $yellow $orange  $pink;

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);
  .inside-#{$i} {
    background-color: $current-color;
  }
}

.overlay {
  position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  padding: 5rem;
  // background-color: white;
  z-index: 2;
	opacity: 0;
	overflow: scroll;
  transition: opacity .5s ease-in-out;
  pointer-events: none;
}

.overlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transition: opacity .5s ease-in-out;
}

a.hide-btn{
  position: fixed;
  top: 1rem;
  right: 1.25rem;
  font-size: 2rem;
  text-decoration: none;
}
// blah
