// $colors-list: $blue $green $yellow $orange  $pink;

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);
  .inside-#{$i} {
    background-color: $current-color;
  }
}

.overlay {
  position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  padding: 3rem 5%;
  // background-color: white;
  z-index: 2;
	opacity: 0;
	overflow: scroll;
  transition: opacity .5s ease-in-out;
  pointer-events: none;
}

.overlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transition: opacity .5s ease-in-out;
}

.project-link a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  margin-right: 0.5rem;
}

// .project-link a:nth-child(2) {
//   margin-top: 3rem;
// }

a.hide-btn{
  position: fixed;
  top: 1rem;
  right: 1.25rem;
  font-size: 2rem;
  text-decoration: none;
}

.overlay aside {
  margin-top: 2.5rem;
  text-align: center;
  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 884px) {

  .overlay article {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 3em;
    -webkit-column-gap: 3em;
    column-gap: 3em;
  }
}

@media screen and (min-width: 1150px) {
  .overlay {
    padding-right: 10%;
    padding-left: 10%;
  }
}
